
.equipo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 709px;
    background-color: #95da1534;
    
}



@media screen and (max-width:1320px) {
    .equipo{
        height: 1098px;
    }
    
}

@media screen and (max-width:1308px) {
    .equipo{
        height: 1099px;
    }
    
}

@media screen and (max-width:1129px) {
    .equipo{
        height: 1117px;
    }
}

@media screen and (max-width:858px) {
    .equipo{
        height: 1137px;
    }
}

@media screen and (max-width:674px) {
    .equipo{
        height: 1156px;
    }
}

@media screen and (max-width:659px) {
    .equipo{
        height: 1936px;
    }
}

@media screen and (max-width:597px) {
    .equipo{
        height: 1955px;
    }
}

@media screen and (max-width:546px) {
    .equipo{
        height: 1973px;
    }
}


@media screen and (max-width:514px) {
    .equipo{
        height: 1992px;
    }
}

@media screen and (max-width:452px) {
    .equipo{
        height: 2011px;
    }
}

@media screen and (max-width:430px) {
    .equipo{
        height: 2030px;
    }
}

@media screen and (max-width:424px) {
    .equipo{
        height: 2049px;
    }
}

@media screen and (max-width:406px) {
    .equipo{
        height: 2068px;
    }
}

@media screen and (max-width:386px) {
    .equipo{
        height: 2087px;
    }
}


.equipo h2{
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
}

.ola_equipo {
    position: relative;
    top: 0;
    width: 100%;
}

.ola_equipo_dos{
    position: relative;
    width: 100%;   
    bottom: 0px;     
}


.card {
    position: relative;
    width: 300px;
    height: 360px;
    margin: 15px;  
  
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card .front {
   transform: perspective(600px) rotate(0deg); 
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #FFF;
    background: rgba(0,0,0, .4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #f3d424;
    padding: 15px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}




