.header{
    z-index: 10;
    position: fixed;
    width: 100%;
    background: #f3d424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
    padding: 5px 3%;


}

.header .logo{
    cursor: pointer;
    margin-right: auto;
    color: #000;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    border-bottom: #fff;

    
    
}

.header .logo img {
    height: 85px;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left:5px;
}

.header .logo h1{
    font-size: 20px;
    float: right;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.header .nav_links{
    list-style: none;
}

.header .nav_links li{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.header .nav_links li:hover{
    transform: scale(1.1);
}

.header .nav_links a{
    font-size: 700;
    color: #000;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header .nav_links li a:hover{
    transform: scale(1.2);
}

.header .btn_header button{
    margin-left: 20px;
    font-weight: 900;
    color: #000;
    padding: 9px 25px;
    background: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 8px;
}

.header .btn_header button:hover{

    background: #000;
    color: #fff;
    transform: scale(1.1);
}

.menu-icono img{
    width: 40px;
    height: 40px;
    background-color: #f3d424;
    float: right;

}

.menu-icono, #check{
    display: none;
}

@media (max-width:890px){
    .menu-ham{

        display: block;
    }
    .menu-icono{

        display: block;
        position: fixed;
        top:20px;
        right: 20px;

    }
    .header ul{
        display:flex;
        position: fixed;
        top: 70px;
        background-color: #f3d424;
        left:-100%;
        width: 30%;
        align-items:flex-end;
        margin: 0;

    }

    .header .logo{
        left: 5px;

    }

    .nav_resp li{
        display: flex;
        justify-content: right;
        align-items: flex-end;

    }

    .nav_resp ul li{
        display: flex;
        justify-content: right;
        padding: 34rem;


    }

    #check:checked ~ ul{
        left:0;

    }

    .nav_resp .nav_links{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 19px;
        margin-left: 70%;
    }


}