

.media {
  
    align-items: center;
    height: 692px;
    width: 100%;
    background: #d68a80;
    z-index: 1;
    
}


 
.banner-overlay {
    height: 692px;
    width: 100%;
    position: absolute;
    background: black;
   opacity: 20%;
   z-index: 3;
}

#contenedor-nosotros{
    width: 100%;
    height: 1600px;
    color: black;
    background: #fff;
}



.desc_general h2{
    font-size: 35px;
    text-align: center;
    position: relative;
    top: 30px;
}


#contenedor-nosotros .lalo{
    width: 50%;
    height: 500px;
}

#contenedor-nosotros .lalo h2{
    margin-top: 70px;
    text-align: center;
    font-size: 35px;
   
    
}

#contenedor-nosotros .lalo p{
    text-align: left;
    margin-top: 30px;
    display: flex;
    font-size: 14px;
    margin: 15px 70px 15px 70px;
}


#contenedor-nosotros .img-lalo {
    width: 250px;
    height: 250px;
    float: right;
    margin-top: -430px;
    margin-right: 350px;
}

#contenedor-nosotros .img-lalo img{
    height: 100%;
    width: 100%;
    

}

#contenedor-nosotros .luisma{
    float: right;
    width: 50%;
    height: 500px;
    
}

#contenedor-nosotros .luisma h2{
    text-align: center;
    font-size: 35px;
    margin-top: -85px;
   
    
}

#contenedor-nosotros .luisma p{
    text-align: left;
    margin-top: 30px;
    display: flex;
    font-size: 14px;
    margin: 15px 70px 15px 70px;
}


#contenedor-nosotros .img-luisma {
    width: 250px;
    height: 250px;
    margin-left: 350px;
    margin-top: -15px;
}

.img-luisma img{
    height: 100%;
    width: 100%;
    

}

#contenedor-nosotros .alvaro{
    margin-top: 100px;
    width: 50%;
    height: 500px;
}

#contenedor-nosotros .alvaro h2{
    text-align: center;
    font-size: 35px;
    
}

#contenedor-nosotros .alvaro p{
    text-align: left;
    margin-top: 30px;
    display: flex;
    font-size: 14px;
    margin: 15px 70px 15px 70px;
}

#contenedor-nosotros .img-alvaro{
    width: 250px;
    height: 250px;
  
}



