.reseña{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:  440px;
    background: #95da1534;
}

.info-reseña {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reseña  .info-reseña h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.reseña .info-reseña p{
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
}


.content-all{
    width: 215px;
    perspective: 1000px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;
}

.content-carousel{
    width: 100%;
    position: absolute;
    animation: rotar 45s infinite linear;
    transform-style: preserve-3d;
}

.content-carousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carousel figure {
    width: 100%;
    height: 138px;
    overflow: hidden;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgb(227, 231, 14);
    transition: all 300ms;
}

.content-carousel figure:nth-child(1){transform: rotateY(0deg)
translateZ(300px);}
.content-carousel figure:nth-child(2){transform: rotateY(40deg)
translateZ(300px);}
.content-carousel figure:nth-child(3){transform: rotateY(80deg)
translateZ(300px);}
.content-carousel figure:nth-child(4){transform: rotateY(120deg)
translateZ(300px);}
.content-carousel figure:nth-child(5){transform: rotateY(160deg)
translateZ(300px);}
.content-carousel figure:nth-child(6){transform: rotateY(200deg)
translateZ(300px);}
.content-carousel figure:nth-child(7){transform: rotateY(240deg)
translateZ(300px);}
.content-carousel figure:nth-child(8){transform: rotateY(280deg)
translateZ(300px);}
.content-carousel figure:nth-child(9){transform: rotateY(320deg)
translateZ(300px);}
.content-carousel figure:nth-child(10){transform: rotateY(360deg)
translateZ(300px);}


.content-carousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carousel img:hover{
    transform: scale(1.1);
    transition: all 400ms;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

@media screen and (max-width: 926px) {
    .reseña  .info-reseña p{
        font-size: 14px;
    }
}

@media screen and (max-width: 706px) {
    .reseña  .info-reseña p{
        font-size: 12px;
    }
    .content-all{
        width: 190px;
        perspective: 2000px;
    }
    .content-carousel figure{
        height: 128px;
    }

    .content-carousel figure:nth-child(1){transform: rotateY(0deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(2){transform: rotateY(40deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(3){transform: rotateY(80deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(4){transform: rotateY(120deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(5){transform: rotateY(160deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(6){transform: rotateY(200deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(7){transform: rotateY(240deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(8){transform: rotateY(280deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(9){transform: rotateY(320deg)
        translateZ(265px);}
        .content-carousel figure:nth-child(10){transform: rotateY(360deg)
        translateZ(265px);}
}


@media screen and (max-width: 600px){
    .reseña  .info-reseña p{
        font-size: 14px;
    }
    .content-all{
        width: 150px;
        perspective: 2500px;
    }
    .content-carousel figure{
        height: 100px;
    }

    .content-carousel figure:nth-child(1){transform: rotateY(0deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(2){transform: rotateY(40deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(3){transform: rotateY(80deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(4){transform: rotateY(120deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(5){transform: rotateY(160deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(6){transform: rotateY(200deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(7){transform: rotateY(240deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(8){transform: rotateY(280deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(9){transform: rotateY(320deg)
        translateZ(210px);}
        .content-carousel figure:nth-child(10){transform: rotateY(360deg)
        translateZ(210px);}
}